<h1>Reimbursement Details</h1>
<nav>
  <ul>
    <li *ngFor="let item of navItems"><a [routerLink]="['/', item.link]">{{item.title}}</a>
    </li>
  </ul>
  <h1></h1>
<style>
  table, th, td {
    border: 1px solid black;
  }
  </style>
<table style="width:50%">
  <tr>
    <th id="type">Type</th>
    <th id="amount">Amount</th>
    <th id="description">Description</th>
    <th id="dateSubmitted">Submit Date</th>
    <th id="Status">Status</th>
  </tr>
  <tr *ngFor="let reimbursement of reimbursements">
    <td headers="type">{{reimbursement.typeId}}</td>
    <td headers="amount">{{reimbursement.amount}}</td>
    <td headers="description">{{reimbursement.description}}</td>
    <td headers="dateSubmitted">{{reimbursement.dateSubmitted | date}}</td>
    <td headers="Status">{{reimbursement.statusId}}</td>
  </tr>
</table>
