<h1>Reimbursement Approval</h1>
<input type="checkbox" (click)="fShowApprovedReimbursements()">Approved<br>
<input type="checkbox" (click)="fShowDeniedReimbursements()">Denied<br>
<input type="checkbox" (click)="fShowPendingReimbursements()">Pending<br>
<ol>
  <li *ngFor="let reimbursement of reimbursements">
    <div *ngIf="reimbursement.statusId === 1 && showPendingReimbursements
     || reimbursement.statusId === 2 && showApprovedReimbursements
      || reimbursement.statusId === 3 && showDeniedReimbursements">
      <div>
        {{reimbursement.authorId}}
        {{reimbursement.description}}
        ${{reimbursement.amount}}
        {{reimbursement.dateSubmitted}}
        {{reimbursement.typeId}}
        {{reimbursement.statusId}}

      <div *ngIf="reimbursement.statusId === 1">
        <form (ngSubmit)="submitRequest(f, reimbursement.id)" #f="ngForm">
          <input type="radio" value="approve" ngModel name="status">Approve<br>
          <input type="radio" value="deny" ngModel name="status">Deny<br>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
      </div>
      </div>
      <div *ngIf="reimbursement.statusId === 2">
        This reimbursement has been approved.
      </div>
      <div *ngIf="reimbursement.statusId === 3">
        This reimbursement has been denied.
      </div>
      <div>
        {{reimbursement.statusId}}
      </div>
    </div>
  </li>

</ol>
